<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>depaartment</title>
 <!-- Latest compiled and minified CSS -->
 
</head>
<body>
<th:block th:insert="Header.html"></th:block>
<div class="container-fluid">
<div class="card">
<div class="card-header bg-primary text-white text-center">
<h4>Department Details</h4></div>

<div class ="card-body">
<form action="/department" method="post">
  <div class="row p-2">
   <div class="col-4">Department Name</div>
   <div class="col-6">
    <input type="text" name="name" class="form-control">
   </div>
  </div>
  
   <div class="row p-2">
   <div class="col-4">Department Head</div>
   <div class="col-6">
    <input type="text" name="depthead" class="form-control">
   </div>
  </div>
  
   <div class="row p-2">
   <div class="col-4">Department Phone</div>
   <div class="col-6">
    <input type="text" name="deptphone" class="form-control">
   </div>
  </div>
  
   <div class="row p-2">
   <div class="col-4"></div>
   <div class="col-6">
    <input type="submit" value="Add Department"class="btn btn-success">
   </div>
  </div>
  </form>
</div>

<div class="card-footer bg-warning text-center">
copyright@2025</div>
</div>
</div>
</body>
</html>