<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Department List</title>

</head>
<body>
<th:block th:insert="Header.html"></th:block>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<h4>Department List</h4>
			</div>

			<div class="card-body">
				<table class="table table-stripted">
				<div>
				<a href="/dept/excel"> <input type="submit" value="Excel" class="btn btn-success"></a>
				<a href="/dept/pdf"><input type="submit" value="Pdf" class="btn btn-warning"></a>
				</div>
					<thead>
						<tr>
							<th>Department Name</th>
							<th>Department Phone</th>
							<th>Department Head</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="d: ${dlist}">
							<td>[[${d.name}]]</td>
							<td>[[${d.deptphone}]]</td>
							<td>[[${d.depthead}]]</td>
							<td>
							<a th:href="@{/dept/edit(id=${d.deptid})}"> <input type="submit" value="Edit"class="btn btn-success  btn-sm"></a>
							 <a th:href="@{/dept/delete(id=${d.deptid})}"> <input
									type="submit" value="Delete" class="btn btn-danger  btn-sm"></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="card-footer bg-warning text-center">copyright@2025</div>
		</div>
	</div>
</body>
</html>