<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Employee</title>
</head>
<body>
<th:block th:insert="Header.html"></th:block>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<h4>EmployeeList</h4>
			</div>

			<div class="card-body">
				<table class="table table-stripted">
					<thead>
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Phone</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="d: ${elist}">
							<td>[[${e.fname}]]</td>
							<td>[[${e.lname}]]</td>
							<td>[[${e.phone}]]</td>
							<td>
							<a th:href="@{/employee/edit(id=${d.deptid})}"> <input type="submit" value="Edit"class="btn btn-success  btn-sm"></a>
							 <a th:href="@{/dept/delete(id=${d.deptid})}"> <input
									type="submit" value="Delete" class="btn btn-danger  btn-sm"></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="card-footer bg-warning text-center">copyright@2025</div>
		</div>
	</div>
</body>
</html>