<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"> 
<head>
<meta charset="UTF-8">
<title>Home</title>

</head>
<body>
  <!--  //here thymeleaf is used for dynamic view page -->
   
  <th:block th:insert="Header.html"></th:block>
   
   
 <!--   <h1>Welcome [[${uname}]]</h1> //uname came from logincontroller
   <a href="/department">Add Department</a>
   <a href="/departmentList">Department List</a>< --><!-- !--in href it must be matched with controllers @getmapping()  --> 
</body>
</html>